.fr-checkbox {
    --mat-checkbox-label-text-color: white;
    --mdc-checkbox-unselected-icon-color: #ffffff13;
    --mdc-checkbox-unselected-hover-icon-color: white;
    --mdc-checkbox-selected-icon-color: white;
    --mdc-checkbox-selected-focus-icon-color: white;
    --mdc-checkbox-selected-hover-icon-color: white;
    --mdc-checkbox-selected-checkmark-color: #2b2738;
    --mdc-checkbox-unselected-focus-icon-color: #ffffff13;
}