// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Define the theme object.
$fr-finances-fe-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($fr-finances-fe-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($fr-finances-fe-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($fr-finances-fe-theme);
/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
  --mdc-dialog-container-color: white;
  --mdc-dialog-subhead-color: #6e5b9a;
  --mdc-dialog-supporting-text-color: #b29ce4;
  --mdc-dialog-supporting-text-font: "Poppins", sans-serif;
  --mdc-dialog-subhead-font: "Poppins", sans-serif;
  --bs-link-color-rgb: 110,84,181;
}
